body, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  border: none;
  outline: none;
  width: 100%;
  height: 2em;
  border-radius: 6px;
  background-color: #dcdcdc;
}

input.error {
  border: 1px solid #bf2d2d;
}

form .error-list {
  color: #bf2d2d;
}

label {
  display: inline-block;
  margin: .5em 0;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3E5151;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#DECBA4), to(#3E5151));
  background: linear-gradient(to right, #DECBA4, #3E5151);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-card {
  max-width: 400px;
  background-color: #f3eaea;
  border-radius: 20px;
  padding: 2em;
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-card__title {
  text-align: center;
  font-size: 20;
}

.main-card__form-group {
  margin: 1em 0;
}

.main-card__submit-botton {
  display: inline-block;
  margin: 1em;
  border: none;
  outline: none;
  border-radius: 50px;
  text-align: center;
  padding: 1em 4em;
  color: #fff;
  background: #c94b4b;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#4b134f), to(#c94b4b));
  background: linear-gradient(to right, #4b134f, #c94b4b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 1em auto;
  cursor: pointer;
}
